<footer id="footer">
    <div class="container960 center" id="footer-container">
        © 2015 Designed by FuXiaoHei. Powered by <a href="#">Purine</a> using the Default Theme.
    </div>
</footer>
</body>
</html>