<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>
    <meta name="keywords" content="{{.General.Keyword}}"/>
    <meta name="description" content="{{.General.Desc}}" />
    <link rel="shortcut icon" href="{{.ThemeLink}}/favicon.ico" type="image/x-icon"/>
    <link href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{.ThemeLink}}/prism.css"/>
    <link rel="stylesheet" href="{{.ThemeLink}}/style.css"/>
    <script src="{{.ThemeLink}}/prism.js"></script>
</head>
<body>
<header id="header">
    <div class="container960 center" id="header-container">
        <h1 id="title">
            <a href="/">{{.General.Title}}</a>
            <span class="subtitle">{{.General.Subtitle}}</span>
        </h1>
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/archive">Archive</a></li>
            <!--<li><a href=""></a></li>-->
        </ul>
    </div>
</header>