{{template "default/_header.tmpl" .}}
<div id="body">
    <div class="container960" id="body-container">
        <article class="article">
            <aside class="meta clear">
                <span class="date left">
                    <i class="fa fa-clock-o"></i>
                   {{TimeUnixFormatFriend .Article.CreateTime}}
                </span>
                <span class="right author">
                    <i class="fa fa-user"></i>
                    {{.Article.User.Nick}}
                </span>
                {{if .Article.HasComment}}
                <span class="right comment">
                    <i class="fa fa-comment"></i>
                    {{.Article.Comments}}
                </span>
                {{end}}
            </aside>
            <header class="title">
                <h2><a href="/article/{{.Article.Href}}" title="{{.Article.Title}}">{{.Article.Title}}</a></h2>
            </header>
            <div class="body markdown">
                {{Md2HTML .Article.Body}}
            </div>
            {{if .Article.TagString}}
            <div class="tag t-right">
                <i class="fa fa-tags"></i>
                {{.Article.TagString}}
            </div>
            {{end}}
        </article>
        {{template "default/comment.tmpl" .}}
    </div>
</div>
{{template "default/_footer.tmpl" .}}