<div class="comments">
    <h1>Comments</h1>
    {{if .Article.IsEnableComment}}
    <hr/>
    <form id="comment-form" action="/comment/article/{{.Article.Id}}" method="post" class="form clear">
        <div class="left">
            <div class="group">
                <i class="fa fa-user"></i>
                <input id="comment-user" class="ipt" type="text" name="name" required="required" placeholder="your name, required" value="test-user"/>
            </div>
            <div class="group">
                <i class="fa fa-envelope"></i>
                <input id="comment-email" class="ipt" type="email" name="email" required="required" placeholder="your email, required" value="test@user.com"/>
            </div>
            <div class="group">
                <i class="fa fa-link"></i>
                <input id="comment-url" class="ipt" type="url" name="url" placeholder="your url, optional"/>
            </div>
        </div>
        <div class="right">
            <div class="group">
                <textarea class="ipt" name="body" id="comment-content" required="required">test content
                new content
                new line</textarea>
            </div>
            <div class="group">
                <button class="btn">Submit</button>
            </div>
            {{.XsrfHtml}}
        </div>
    </form>
    {{end}}
</div>