<div class="comments">
    <h1>Comments</h1>
    {{if .Comments}}
    <hr/>
    <div id="comment-list">
        {{range .Comments}}
        <div class="comment clear">
            <img class="avatar left" src="{{.AvatarUrl}}" alt="{{.Name}}"/>
            <div class="body left">
                <div class="header">
                    <a class="name" href="{{.Url}}"><strong>{{.Name}}</strong></a> -
                    <span class="time">{{TimeUnixFormatFriend .CreateTime}}</span>
                </div>
                <div class="content">{{Str2HTML .Body}}</div>
            </div>
            <span class="clear"></span>
            <div class="comment clear">
                <img class="avatar left" src="{{.AvatarUrl}}" alt="{{.Name}}"/>
                <div class="body left">
                    <div class="header">
                        <a class="name" href="{{.Url}}"><strong>{{.Name}}</strong></a> -
                        <span class="time">{{TimeUnixFormatFriend .CreateTime}}</span>
                    </div>
                    <div class="content">{{Str2HTML .Body}}</div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    {{end}}
    {{if .EnableComment}}
    <hr/>
    <form id="comment-form" action="{{.CommentUrl}}" method="post" class="form clear">
        <div class="left">
            <div class="group">
                <i class="fa fa-user"></i>
                <input id="comment-user" class="ipt" type="text" name="name" required="required" placeholder="your name, required" value="test-user"/>
            </div>
            <div class="group">
                <i class="fa fa-envelope"></i>
                <input id="comment-email" class="ipt" type="email" name="email" required="required" placeholder="your email, required" value="test@user.com"/>
            </div>
            <div class="group">
                <i class="fa fa-link"></i>
                <input id="comment-url" class="ipt" type="url" name="url" placeholder="your url, optional"/>
            </div>
        </div>
        <div class="right">
            <div class="group">
                <textarea class="ipt" name="body" id="comment-content" required="required">test content
                new content
                new line</textarea>
            </div>
            <div class="group">
                <button class="btn">Submit</button>
            </div>
            {{.XsrfHtml}}
        </div>
    </form>
    {{end}}
</div>
<script src="http://malsup.github.io/min/jquery.form.min.js"></script>
<script>
    $(document).ready(function(){
        $('#comment-form').ajaxForm(function(res){
            console.log(res);
        })
    });
</script>