<div id="admin-nav" class="left">
    <h3>Menu</h3>
    <hr/>
    <ul class="ul">
        <li><a href="/admin/">
            <i class="fa fa-home"></i> Index
        </a></li>
        <li><a href="/admin/article">
            <i class="fa fa-file-text"></i> Article
        </a></li>
        <!--<li><a href="/admin/comment">
            <i class="fa fa-comments"></i> Comment
        </a></li>-->
        <li><a href="/admin/media">
            <i class="fa fa-image"></i> Media
        </a></li>
        <li><a href="/admin/profile">
            <i class="fa fa-user"></i> Profile
        </a></li>
        <li><a href="/admin/setting">
            <i class="fa fa-gears"></i> Setting
        </a></li>
        <li><a href="/admin/logout">
            <i class="fa fa-sign-out"></i> Sign Out
        </a></li>
    </ul>
</div>