{{template "admin/_header.tmpl" .}}
<div id="index-container" class="clear">
    {{template "admin/_nav.tmpl" .}}
    <div id="article-container">
        <h3>Article
            <a class="article-new" href="/admin/write">
                <i class="fa fa-plus"></i>Write
            </a>
        </h3>
        <hr/>
        <div id="article-container-all">
            {{range .Articles}}
            <div class="article">
                <h5 class="title">
                    <span class="date">{{.Date "01.02"}}</span>
                    <a href="/article/{{.Href}}" target="_blank">{{.Title}}</a>
                </h5>{{if .IsDraft}}
                <span class="status lbl">draft</span>{{end}}
                <span class="act">
                    <!--<a class="preview" href="#">
                        <i class="fa fa-eye"></i>Preview
                    </a>-->
                    <a class="edit" href="/admin/write?id={{.Id}}" data-id="{{.Id}}">
                        <i class="fa fa-edit"></i>Edit
                    </a>
                    <a class="del" href="/admin/delete?id={{.Id}}" data-id="{{.Id}}">
                        <i class="fa fa-remove"></i>Delete
                    </a>
                </span>
            </div>
            {{end}}
           {{Pager2HTML .Pager "/admin/article?page=%d"}}
        </div>
    </div>
</div>
{{template "admin/_footer.tmpl" .}}
