<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Article</title>
    <link href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/admin/style.css"/>
</head>
<body>
<div id="index-container" class="clear">
    {{template "admin/nav.tmpl" .}}
    <div id="article-container">
        <h3>Article</h3>
        <hr/>
        <div id="article-container-all">
            <div class="article">
                <h5 class="title">
                    <span class="date">06.12</span>
                    <a href="#">Accelerator,提升阅读速度的新尝试</a>
                </h5>
                <span class="status lbl">draft</span>
            </div>
            <div class="article">
                <h5 class="title">
                    <span class="date">06.05</span>
                    <a href="#">年度最好的城镇建设游戏Banished</a>
                </h5>
            </div>
        </div>
    </div>
</div>
</body>
</html>