{{template "admin/_header.tmpl" .}}
<div id="index-container" class="clear">
    <div id="error-container">
        <h3 class="alert">An Error Occur !!</h3>
        <hr/>
        <div>{{Nl2Br .Error}}</div>
    </div>
</div>
{{template "admin/_footer.tmpl" .}}