{{template "admin/_header.tmpl" .}}
<div id="index-container" class="clear">
    <div id="error-container">
        <h3>An Error Occur !!</h3>
        <hr/>
        <h4><strong>{{.Error}}</strong></h4>
    </div>
</div>
{{template "admin/_footer.tmpl" .}}