<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/admin/style.css"/>
</head>
<body>
<div id="index-container" class="clear">
    <div id="admin-nav" class="left">
        <h3>Menu</h3>
        <hr/>
        <ul class="ul">
            <li><a href="/admin/">
                <i class="fa fa-home"></i> Index
            </a></li>
            <li><a href="/admin/article">
                <i class="fa fa-file-text"></i> Article
            </a></li>
            <li><a href="/admin/comment">
                <i class="fa fa-comments"></i> Comment
            </a></li>
            <li><a href="/admin/setting">
                <i class="fa fa-cog"></i> Setting
            </a></li>
        </ul>
    </div>
</div>
</body>
</html>