{{template "admin/header.tmpl" .}}
<div id="login-container">
    <h1>Login</h1>
    <hr/>
    <form id="login-form" action="/admin/login" method="post" class="form">
        {{if .Error}}<div class="group center">
            <strong class="alert">{{.Error}}</strong>
        </div>{{end}}
        <div class="group clear">
            <label class="left" for="username">
                <i class="fa fa-user"></i>
                Username
            </label>
            <input id="username" class="ipt" type="text" name="username" required="required"/>
        </div>
        <div class="group clear">
            <label class="left" for="password">
                <i class="fa fa-eye"></i>
                Password
            </label>
            <input id="password" class="ipt" type="password" name="password" required="required"/>
        </div>
        <div class="group clear">
            <label class="left">&nbsp;</label>
            <input class="chk" type="checkbox" name="remember" id="remember" value="7"/>
            <span class="chk-txt">Remember</span>
        </div>
        <div class="group clear">
            <label class="left">&nbsp;</label>
            <button class="btn" type="submit"><i class="fa fa-sign-in"></i>Login</button>
        </div>
    </form>
</div>
{{template "admin/footer.tmpl" .}}