{{template "admin/_header.tmpl" .}}
<div id="index-container" class="clear">
    {{template "admin/_nav.tmpl" .}}
    <div id="media-container">
        <h3>Media</h3>
        <hr/>
        <form id="upload-form" class="form rel" enctype="multipart/form-data">
            <button class="btn">
                <i class="fa fa-plus"></i>
                <span>Select files...</span>
            </button>
            <input id="file-upload" type="file" name="file" multiple>
            <div id="file-upload-progress" class="progress hide">
                <div class="progress-bar"></div>
            </div>
            <div id="files" class="hide"></div>
            <div id="file-upload-error" class="hide alert">error</div>
        </form>
        <hr/>
        <div id="media-list">
            {{range .Media}}
            <div class="media">
                <span class="name"><strong>{{.Name}}</strong></span>
                <span class="size">{{FriendBytesSize .FileSize}}</span>
                <span class="date">{{TimeUnixFormatFriend .CreateTime}}</span>
                <span class="del">
                    <a href="/admin/media/delete?id={{.Id}}" class="alert"><i class="fa fa-remove"></i>Delete</a>
                </span>
            </div>
            {{end}}
            {{Pager2HTML .Pager "/admin/media?page=%d"}}
        </div>
    </div>
</div>
<script src="{{.ThemeLink}}/fileupload/vendor/jquery.ui.widget.js"></script>
<script src="{{.ThemeLink}}/fileupload/jquery.fileupload.js"></script>
<script>
    $(function () {
        'use strict';
        $('#file-upload').fileupload({
            url: "/admin/upload",
            dataType: 'json',
            add:function(e,data){
                $('#file-upload-error').hide();
                $('#file-upload-progress,#files').show();
                $('#file-upload-progress .progress-bar').css(
                        'width', '0%'
                );
                data.submit();
            },
            done: function (e, data) {
                if(!data.result.status){
                    $('#file-upload-error').html("<strong>"+data.result.error+"</strong>").show();
                    return;
                }
                $('<p/>').text(data.result.data.media.Name).appendTo('#files');

            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#file-upload-progress .progress-bar').css(
                        'width',
                        progress + '%'
                );
            }
        }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
        $('.del').on("click",function(){
            return confirm("remove the media file really ?");
        })
    });
</script>
{{template "admin/_footer.tmpl" .}}