{{template "admin/_header.tmpl" .}}
<div id="index-container" class="clear">
    {{template "admin/_nav.tmpl" .}}
    <div id="page-container">
        <h3>Page
            <a class="article-new" href="/admin/write?type=page">
                <i class="fa fa-plus"></i>Write
            </a>
        </h3>
        <hr/>
    </div>
</div>
{{template "admin/_footer.tmpl" .}}