body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

header, footer, section, article, aside, nav, address, figure, figcaption, menu, details {
    display: block
}

audio, canvas, video {
    display: inline-block
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: normal
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

legend {
    color: #000
}

html, body {
    background-color: #FFF;
    color: #444;
    font-size: 13px;
    line-height: 24px;
    font-family: Ubuntu, Consolas, "Microsoft YaHei", Verdana, Tahoma, Arial, sans-serif;
}

input, textarea, select, option, button {
    font-family: Ubuntu, Consolas, "Microsoft YaHei", Verdana, Tahoma, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #0079bc
}

a:hover {
    color: #005b9b
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .4em;
}

hr {
    border: none;
    border-bottom: 1px solid #DDD;
    height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear:after {
    content: "";
    clear: both;
    height: 0;
    width: 0;
}

.center {
    text-align: center;
}

.hide {
    display: none;
}

.alert {
    color: #ba4936;
}

.success {
    color: #5d9d61;
}

.form .group {
    margin-top: 12px;
    line-height: 30px;
}

.form .ipt {
    border: 1px solid #BBB;
    padding: 6px 10px 7px 10px;
    outline: none;
}

.form .ipt:focus {
    background-color: #e5fffd;
    border-color: #888;
}

.form .chk {
    vertical-align: text-bottom;
}

.form .btn {
    height: 30px;
    border: none;
    background-color: #0079bc;
    color: #FFF;
    line-height: 28px;
    min-width: 92px;
    cursor: pointer;
    padding: 0 12px;
}

.form .btn:hover {
    background-color: #005b9b;
}

.form .select {
    padding: 5px 6px 6px 6px;
}

.form .btn.alert {
    background-color: #ba4936;;
}

.fa {
    display: inline-block;
    width: 16px;
    text-align: left;
}

.ul li {
    line-height: 24px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #DDD;
}

.lbl {
    background-color: #DDD;
    color: #666;
    font-size: 10px;
    padding: 4px;
}

.pager {
    padding: 8px 0;
}

.pager li {
    display: inline-block;
}

.pager li a {
    margin-right: 6px;
    padding: 4px 8px;
}

.pager li a:hover,
.pager li a.current {
    background-color: #e2f0ff;
    color: #444;
}

#login-container {
    margin-left: 32px;
    margin-top: 32px;
    width: 400px;
}

#login-form label.left {
    margin-right: 12px;
    width: 92px;
}

#login-form .ipt {
    width: 240px;
}

#login-container hr {
    margin-bottom: 16px;
}

#index-container {
    padding: 24px 32px;
}

#admin-nav {
    width: 120px;
    margin-right: 24px;
}

#article-container,
#write-container,
#profile-container {
    padding-left: 144px;
}

#article-container .article .title {
    font-size: 1.1em;
    display: inline-block;
    padding-right: 1em;
}

#article-container .article .title a {
    font-weight: bold;
}

#article-container .article {
    line-height: 40px;
    margin-bottom: 8px;
    border-bottom: 1px solid #DDD;
}

#article-container .article .act a {
    margin-left: 1em;
}

#article-container .article .preview {
    color: #666;
}

#article-container .article .edit {
    color: #c66545;
}

#article-container .article .del {
    color: #9d110f;
}

#article-container .article .act {
    display: none;
}

#article-container .article:hover .act {
    display: inline-block;
}

#article-container .article .cmt {
    background-color: #649d5a;
    color: #FFF;
}

#article-container .article-new {
    font-size: 13px;
    margin-left: 1em;
    color: #ba4936;
}

.editormd {
    margin-left: 0 !important;
}

.editormd-menu .fa {
    font-size: 13px !important;
    font-weight: normal !important;
    width: auto !important;
}

.editormd-menu i[name=lowercase] {
    margin-top: 0 !important;
}

.editormd-menu > li {
    padding: 0 !important;
}

.editormd-preview-container {
    padding: 12px !important;
}

.editormd-preview-close-btn {
    width: auto !important;
}

#write-container .form .group > label {
    display: inline-block;
    width: 60px;
}

#write-container .form .ipt {
    width: 1180px;
}

#profile-form label.left,
#password-form label.left{
    width: 96px;
}

#profile-form .ipt,
#password-form .ipt,
#setting-general-form .ipt{
    width: 480px;
}

#profile-form textarea.ipt {
    height: 120px;
    resize: none;
}

#setting-nav li{
    display: inline-block;
}

#setting-nav li a{
    padding: 4px 8px;
}

#setting-nav li a.current{
    background-color: #DDD;
    color: #444;
}

#setting-general-form label{
    display: inline-block;
    width: 96px;
}