{{template "admin/header.tmpl" .}}
<div id="index-container" class="clear">
    {{template "admin/nav.tmpl" .}}
    <div id="write-container">
        <h3>Write</h3>
        <hr/>
        <form id="write-form" action="/admin/write" method="post" class="form">
            <div class="group clear">
                <label for="title">Title</label>
                <input id="title" class="ipt" type="text" name="title" required="required"/>
            </div>
            <div class="group clear">
                <label for="link">Link</label>
                <input id="link" class="ipt" type="text" name="link" required="required"/>
            </div>
            <div class="group clear">
                <div id="editormd"></div>
            </div>
            <div class="group clear">
                <label for="format">Format</label>
                <select name="format" id="format" class="select">
                    <option value="markdown">Markdown</option>
                </select>
            </div>
            <div class="group clear">
                <label for="tag">Tags</label>
                <input id="tag" class="ipt" type="text" name="tag"/>
            </div>
            <div class="group clear">
                <label>&nbsp;</label>
                <input class="chk" type="checkbox" name="draft" value="draft"/>
                <span class="chk-txt">As Draft</span>
            </div>
            <div class="group clear">
                <label>&nbsp;</label>
                <input class="btn" type="submit" value="Publish"/>
            </div>
        </form>
    </div>
</div>
<link rel="stylesheet" href="/static/admin/editor-md/css/editormd.min.css"/>
<script src="/static/admin/editor-md/editormd.min.js"></script>
<script>
    var indexMarkdownEditor = editormd("editormd", {
        width:1266,
        height: 600,
        path:"/static/admin/editor-md/lib/"
    });
</script>
{{template "admin/footer.tmpl" .}}