{{template "admin/_header.tmpl" .}}
<div id="index-container" class="clear">
    {{template "admin/_nav.tmpl" .}}
    <div id="write-container">
        <h3>Write{{if .Article}} - {{.Article.Title}}{{end}}</h3>
        <hr/>
        <form id="write-form" action="/admin/write" method="post" class="form">
            <div class="group success hide">
                <strong>Saved Success ! you can edit it continuously.</strong>
            </div>
            <div class="group alert hide"></div>
            <div class="group">
                <label for="title">Title</label>
                <input id="title" class="ipt" type="text" name="title" required="required" value="{{.Article.Title}}"/>
            </div>
            <div class="group">
                <label for="link">Link</label>
                <input id="link" class="ipt" type="text" name="link" required="required" value="{{.Article.Link}}"/>
            </div>
            <div class="group">
                <div id="editormd"></div>
            </div>
            <div class="group">
                <label for="format">Format</label>
                <select name="format" id="format" class="select">
                    <option value="markdown">Markdown</option>
                </select>
            </div>
            <div class="group">
                <label for="tag">Tags</label>
                <input id="tag" class="ipt" type="text" name="tag" value="{{.Article.TagString}}"/>
            </div>
            <div class="group">
                <label>&nbsp;</label>
                <input class="chk" type="checkbox" name="draft" value="draft"{{if .Article.IsDraft}} checked{{end}}/>
                <span class="chk-txt">As Draft</span>
            </div>
            <div class="group">
                <label>&nbsp;</label>
                <input class="btn" type="submit" value="Publish"/>
                <input id="id" type="hidden" name="id" value="{{.Article.Id}}"/>
            </div>
        </form>
    </div>
</div>
<link rel="stylesheet" href="/static/admin/editor-md/css/editormd.min.css"/>
<script src="/static/admin/editor-md/editormd.min.js"></script>
<script src="/static/admin/editor-md/languages/en.js"></script>
<script>
    $(function () {
        var mdContent = "{{.Article.Body}}";
        var indexMarkdownEditor = editormd("editormd", {
            width: 1266,
            height: 600,
            name: "body",
            path: "/static/admin/editor-md/lib/",
            markdown:mdContent,
            imageUpload    : true,
            imageFormats   : ["jpg", "jpeg", "gif", "png"],
            imageUploadURL : "/admin/upload?type=image&from=editor"
        });
        $('#write-form').on("submit", function (e) {
            e.preventDefault();
            $.ajax({
                url: "/admin/write",
                method: "post",
                data: $(this).serialize(),
                beforeSend:function(){
                    $('.group.hide').hide();
                },
                success: function (res) {
                    if (res.status) {
                        $('.group.success').show();
                        $('#id').val(res.data.article.Id);
                        return;
                    }
                    $(".group.alert").html("<strong>" + res.error + "</strong>").show();
                }
            })
        })
    });
</script>
{{template "admin/_footer.tmpl" .}}